body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
}

/* MAIN PAGE COMPONENT STYLING */


/* HEADER STYLES */

header {
    background: black;
    color: #7FC9FF;
    padding: 20px 30px 20px 30px;
}

/* LOGO INSIDE HEADER */

header #page-header {
    font-family: 'Rock Salt', cursive, Arial;
    color: ##7FC9FF;
    text-decoration: none;
    width: 49%;
    display: inline-block;
    text-shadow: 2px 2px 5px #aab5ff;
}

header img {
    width: 90px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

header p {
    font-size: 28px;
}

/* MAIN NAVIGATION */

header #main-navigation {
    width: 49%;
    display: inline-block;
    text-align: right;
    font-family: 'Rock Salt', cursive, Arial;
}

header #main-navigation ul {
    list-style: none;
    padding: 0;
}

header #main-navigation ul li {
    display: inline-block; 
}

header #main-navigation ul li a {
    color: #7FC9FF;
    text-decoration: none;
    padding: 10px 15px;
}

header #main-navigation ul li a:hover {
    background: #444;
    border-radius: 3px;
    transition: 0.3s ease all;
} 

/* HERO SECTION */

.mlb-hero {
    min-height: 550px;
    text-align: center;
    background: #555;
    background-image: url('../image/mlb-baseball-nacho-helmets.jpg');
    background-size: cover;
}

.mlb-hero-content {
    color: #0918e5;
    padding-top: 130px;
    line-height: 1;
    font-family: 'Rock Salt', cursive, Arial;
    text-shadow: 2px 2px 5px #FFFFFF;
}

.mlb-hero-title {
    margin: 0;
    font-size: 100px;
}

.mlb-hero-content p {
    font-size: 60px; 
    margin-bottom: 60px;
}

.mlb-hero-content a {
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;   
}

/*INTRO PARAGRAPH*/
.mlb-intro-paragraph{
    margin: 25px;
}

.mlb-intro-paragraph h2 {
    text-align: center;
}

/*RANKING TABLE SECTION*/

.container > header {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background: #ecf0f1;
}

.container > header h2 {
    font-weight: 600;
    font-size: 3em;
    margin: 0;
    color: #0918e5;
}

.wrapper {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 90%;
    max-width: 2000px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: #000000;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

td, th {
    padding: 1em 1.5em;
    text-align: center;
}

tbody th {
    background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(160, 160, 160, .6313725490196078);
}
td.highlights{
    text-align: left;
}
 
td.team{
    text-transform: uppercase;
}

td.picture img{;
    width: 250px;
    box-shadow: 6px 5px 22px 0px #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

/* FOOTER*/

footer   {
  background: white;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 15px;
  width: 90px;
  margin: 0 auto 10px;
}


/*MOBILE RESPONSIVE*/

@media screen and (max-width: 768px) {

    /* HEADER   */
    header #page-header {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    header #main-navigation {
        width: 100%;
        display: block; 
        text-align: center;
    }
    
/*  HERO  */
    .mlb-hero {
        min-height: 250px;
    }
    .mlb-hero-content {
        padding-top: 80px;
    }
    .mlb-hero-title {
        font-size: 30px;
    }
    .mlb-hero-content p {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .mlb-hero-content a {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 1px;
        background: #FFF;
        color: #333;
    }
}