body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
}

/* MAIN PAGE COMPONENT STYLING */


/* HEADER STYLES */

header {
    background: linear-gradient(#000242, white);
    color: #07080c;
    padding: 20px 30px 20px 30px;
}

/* logo nest inside header */

header #page-header {
    font-family: 'Architects Daughter', cursive, Arial;
    color: #07080c;
    text-decoration: none;
    width: 49%;
    display: inline-block;
    text-shadow: 2px 2px 5px #aab5ff;
}

header img {
    width: 90px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

header p {
    font-size: 28px;
}

/* MAIN NAVIGATION */

header #main-navigation {
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #main-navigation ul {
    list-style: none;
    padding: 0;
}

header #main-navigation ul li {
    display: inline-block; 
}

header #main-navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

header #main-navigation ul li a:hover {
    background: #444;
    border-radius: 3px;
    transition: 0.3s ease all;
} 

/* FOOTER*/

footer   {
  background: linear-gradient(white, #000242);
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 15px;
  width: 80px;
  margin: 0 auto 10px;
}